<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Freaks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27359b90e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/todos/bathroom">Bathroom</a>
        <a href="/todos/bedroom">Bedroom</a>
        <a href="/todos/dining%20room">Dining Room</a>
        <a href="/todos/kitchen">Kitchen</a>
        <a href="/todos/living%20room">Living Room</a>
        <a href="/todos/other">Other</a>
      </div>
      <!-- Use any element to open the sidenav -->
      <span class="menuicon" onclick="openNav()">&#9776;</span>

      <div class="text-center">
        <h1 class="loggedInTitle"><a href="/">Clean Freaks</a></h1>

        <nav>
          <!-- LOGIN/SIGNUP -->
                  <span class="intro">
                    <% var user; %>
                    <% user = user || undefined; %>
          
                    <%if (user) { %>
                    <form class="removeForm" action="/logout" method="POST" id ="logout">
                        <input type="submit" value="logout">
                    </form>
                    <% } else { %>
                    <a href="/login"> Login</a> / <a href="/signup"> Sign-up</a>
                    <% } %>
                  </span>
                </nav>

      </div>
    </header>
    <div class="scroll-up"><a href="#"><i class="fa-solid fa-arrow-up"></i></a></div>
