<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Freaks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27359b90e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">

      <div class="text-center">
        <h1 class="title"><a href="/">Clean Freaks</a></h1>
        <span class="slogan">Clean now...</span>

        <nav>
          <!-- LOGIN/SIGNUP -->
                  <span>
                    <a href="/login"> Login</a> / <a href="/signup"> Sign-up</a>
                  </span>
                </nav>
      </div>
      
    </header>