<%- include('partials/header') -%>

<h2>Add a task</h2>

<div>
  <form action="/todos/createTodo" method="POST">
    <div class="mb-3">
      <label for="cleaningArea" class="form-label">Cleaning Area</label>
      <select id="cleaningArea" name="cleaningArea">
        <option value="other">Other</option>
        <option value="kitchen">Kitchen</option>
        <option value="bedroom">Bedroom</option>
        <option value="bathroom">Bathroom</option>
        <option value="dining room">Dining Room</option>
        <option value="living room">Living Room</option>
      </select>
    </div>
    <div class="mb-3">
        <label for="todoItem" class="form-label">Task</label>
        <input type="text" class="form-control" id="todoItem" name="todoItem">
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date</label>
      <input type="date" id="dueDate" name="dueDate">
    </div>
    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea class="form-control" id="comment" name="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
  </form>
</div>

<%- include('partials/footer') -%>