<%- include('partials/subheader') -%>

<main class="container about">

  <div>
    <h2 class="headings">Who Are We?</h2>
    <p>Clean Freaks is here to help you stay organized and keep you on top of your daily chores at home!</p>
    <p>Through this website, you can categorize each task by location, and see current tasks for the day and future tasks.</p>
    <p>Stay organized and sign up today! <a href="/signup">Join the Clean Freaks team!</a></p>
  </div>

</main>

<%- include('partials/footer') -%>